<div class="container">
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/images/海事标志.png">
        <span class="title">Smart Msa Next</span>
      </div>
      <div class="desc">欢迎使用智慧海事平台，提供行政执法、值班表、巡航计划等多项功能。</div>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      Copyright
      <i class="anticon anticon-copyright"></i> 2018
      <a href="//github.com/cipchk" target="_blank">倪志华</a>出品
    </global-footer>
  </div>
</div>
