.border {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black; }

.borderHead {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black; }

.borderFoot {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black; }

.borderLeft {
  border-left: 1px solid black; }

.borderRight {
  border-right: 1px solid black; }

.borderTop {
  border-top: 1px solid black; }

.borderBottom {
  border-bottom: 1px solid black; }
