<page-header>
  <ng-template #action>
    <button (click)="add()" nz-button nzType="primary">新建</button>
  </ng-template>
</page-header>
<nz-calendar [ngModel]="selectedValue" (ngModelChange)="onDateChanged($event)">
  <ul *nzDateCell="let date" class="events">
    <ng-container *ngIf="isHoliday(date)" >
      <nz-badge [nzStatus]="'error'" [nzText]="getHoliday(date).name" (click)="onDelete(date)"></nz-badge>
      <!--<nz-badge [nzText]="getHoliday(date).holiday"></nz-badge>-->
    </ng-container>
  </ul>
  <ng-container *nzMonthCell="let month">
    <div *ngIf="getMonthData(month) as monthData" class="notes-month">
      <section>{{ monthData }}</section>
      <span>Backlog number</span>
    </div>
  </ng-container>
</nz-calendar>
